- var name = "Yep"
- var desc = "Meet Genius"
- var keyw = "Yep, App"

doctype html
html(lang="en")
  head
    title #{name} - #{desc}
    meta(charset='UTF-8')
    meta(name="keywords" content="#{keyw}")
    meta(name='description' content='#{desc}')
    meta(name="viewport" content="width=device-width height=device-height user-scalable=no initial-scale=1 minimum-scale=1 maximum-scale=1 target-densitydpi=device-dpi")
    link(rel='shortcut icon' href='favicon.png' type='image/x-icon') 
    link(href='css/style.css' type='text/css' rel='stylesheet')
  body
    :markdown
      ## Terms of Use
      Please read these terms of use carefully (“Terms”). These Terms govern and apply to your access and use of Yep and Yep's social networking services available via Yep's site and Yep's mobile apps (collectively, the “Service”). By accessing or using our Service, you agree to be bound all of the terms and conditions described in these Terms. If you do not agree to all of these terms and conditions, do not use our Service.

      ## Use of the Service
      Yep allows you to access, view and share records with your friends through our mobile and web-based apps and our site (each an “App”). As long as you comply with these Terms, you have the right to download and install a copy of the App to your mobile device, and to access and use the Service, for your own personal use. You may not: (i) copy, modify or distribute the App for any purpose; (ii) transfer, sublicense, lease, lend, rent or otherwise distribute the App or the Service to any third party; (iii) decompile, reverse-engineer, disassemble, or create derivative works of the App or the Service; (iv) make the functionality of the App or the Service available to multiple users through any means; or (v) use the Service in any unlawful manner, for any unlawful purpose, or in any manner inconsistent with these Terms.

      The following terms apply to any App accessed through or downloaded from any app store or distribution platform (like the Apple App Store or Google Play) where the App is made available (each an “App Provider”). You acknowledge and agree that:

      These Terms are concluded between you and Yep, and not with the App Provider, and that Yep (not the App Provider), is solely responsible for the App.

      ## Creating a Yep Account
      In order to access and use Yep, you will need to register and create an account (your “Account”). When creating an Account, you may be required to provide certain personal information about yourself and will establish a username and a password. You agree to provide accurate, current and complete information about your Account.

      ## Privacy Policy
      Our Service allows you and other users to post, link, store, share and otherwise make available certain information, images, videos, text and/or other content (“Content”). You are responsible for the Content that you post to the Service, including its legality, reliability, and appropriateness. By posting Content to the Service, you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Service. You agree that this license includes the right for us to make your Content available to other users of the Service, who may also use your Content subject to these Terms. You retain any and all of your rights to any Content you submit, post or display on or through the Service and you are responsible for protecting those rights.

      ## Content on the Service
      The Content available through the Service has not been reviewed, verified or authenticated by us, and may include inaccuracies or false information. We make no representations, warranties, or guarantees in connection with our Service or any Content on the Service, relating to the quality, suitability, truth, accuracy or completeness of any content contained in the Service. You acknowledge sole responsibility for and assume all risk arising from your use or reliance of any Content.

      We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Services or endorse any opinions expressed via the Services. You understand that by using the Services, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no circumstances will Yep be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any C

      ontent posted, emailed, transmitted or otherwise made available via the Services or broadcast elsewhere.

      ## Your Rights
      You retain your rights to any Content you submit, post or display on or through the Services. By submitting, posting or displaying Content on or through the Services, you grant us a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed).


      You agree that this license includes the right for Yep to provide, promote, and improve the Services and to make Content submitted to or through the Services available to other companies, organizations or individuals who partner with Yep for the syndication, broadcast, distribution or publication of such Content on other media and services, subject to our terms and conditions for such Content use.

      You can also report the objectionable content to us.

      ---

      Questions & Contact Information
      Please Contact us if you have any questions about our Terms.

      Effective: Sep 1th, 2015

    //- script(type="application/javascript", src="js/script.js")