- var name = "Yep"
- var desc = "Meet Genius"
- var keyw = "Yep, App"

- var cdn = "http://static-catch.qiniudn.com"

- var download_ios = "https://itunes.apple.com/app/id983891256"
- var download_android = "#"

doctype html
html(lang="en")
    head
        title #{name} - #{desc}
        meta(charset='UTF-8')
        meta(name="keywords" content="#{keyw}")
        meta(name='description' content='#{desc}')
        meta(name="viewport" content="width=device-width height=device-height user-scalable=no initial-scale=1")
        link(rel='shortcut icon' href='/favicon.png' type='image/x-icon') 
        link(href='#{cdn}/slick.css' type='text/css' rel='stylesheet')
        link(href='/css/slick-theme.css' type='text/css' rel='stylesheet')
        link(href='/css/topic.css' type='text/css' rel='stylesheet')
    body
        .gallery.viewer
            .slick
        .media.viewer
        .container
            .topic
                .info
                    .avatar
                    .nickname
                    .time
                .text Loading...
                .images
            .chat
                .table
                    .cell.template
                        .avatar
                        .flex
                            .nickname
                            .bubble
                                .content
                        .avatar
        .footer
            .wrapper
                .appicon
                .appname Yep
                .appdesc Meet Genius
                .buttons
                    a.ios(href="#{download_ios}" target="_blank")
                    //- a.android(href="#{download_android}" target="_blank")

        script(type="application/javascript", src="#{cdn}/jquery-2.1.4.min.js")
        script(type="application/javascript", src="#{cdn}/detect.js")
        script(type="application/javascript", src="#{cdn}/url.min.js")
        script(type="application/javascript", src="#{cdn}/slick.min.js")
        script(type="application/javascript", src="#{cdn}/jquery.timeago.js")
        script(type="application/javascript", src="#{cdn}/jquery.finger.min.js")
        script(type="application/javascript", src="#{cdn}/jquery.media.js")
        script(type="application/javascript", src="/js/topic.js")


